*,
* ::after,
* ::before {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

:root {
	--primary-Red: hsl(0, 78%, 62%);
	--primary-Cyan: hsl(180, 62%, 55%);
	--primary-Orange: hsl(34, 97%, 64%);
	--primary-Blue: hsl(212, 86%, 64%);
	--neutral-Very-Dark-Blue: hsl(234, 12%, 34%);
	--neutral-Blue: hsl(229, 6%, 66%);
	--neutral-Very-Light-Grey: hsl(0, 0%, 98%);
	font-family: "Poppins", sans-serif;
	--fs-base: 15px;
	--fw-extra-light: 200;
	--fw-regular: 400;
	--fw-semi-bold: 600;
}

body {
	min-height: 80dvh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--neutral-Blue);
	background-color: var(--neutral-Very-Light-Grey);
	letter-spacing: 0.5px;
}

span {
	margin-top: 3rem;
	font-weight: var(--fw-extra-light);
}

main {
	max-width: 80%;
	margin-top: 4rem;
	/* outline: 1px solid black; */
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 2rem;
	line-height: 1.4rem;
}

span {
	font-weight: var(--fw-extra-light);
	display: block;
}

p {
	max-width: 40%;
	text-align: center;
	font-size: 0.975rem;
}
h1,
h2 {
	font-weight: var(--fw-semi-bold);
	color: var(--neutral-Very-Dark-Blue);
}
h1 {
	font-size: 2.3rem;
	margin-bottom: 1.2rem;
}
h2 {
	font-size: 1.3rem;
}

.card {
	display: flex;
	flex-direction: column;
	box-shadow: hsla(234, 12%, 34%, 0.2) 0px 8px 24px;
	background-color: hsl(0, 0%, 100%);
	padding: 2rem;
	border-radius: 0.3rem;
	gap: 1rem;
	overflow: hidden;
}

p.card-text {
	text-align: left;
	max-width: 100%;
	color: var(--neutral-Blue);
	font-size: 0.785rem;
	margin-bottom: 1rem;
}
img {
	max-width: 64px;
	align-self: flex-end;
}
.supervisor {
	border-top: 0.3rem solid var(--primary-Cyan);
	max-height: 50%;
	align-self: center;
	border-radius: 0.3rem;
}
.teambuilder {
	border-top: 0.3rem solid var(--primary-Red);
}
.karma {
	border-top: 0.3rem solid var(--primary-Orange);

	margin-top: 2rem;
}
.calculator {
	border-top: 0.3rem solid var(--primary-Blue);
	max-height: 50%;
	align-self: center;
}
